.content{
    width: 1200px;
    margin: 0 auto;
}


/* 主图 */
#inner{
    background: #b9d3f8;
    height: 780px;
}
#inner a{
    display: block;
    width: 100%;
}
#inner a img{
    width: 100%;
    vertical-align: middle;
}
#inner .inner_wrap{
    position: relative;
}
#inner .inner_wrap .logo a{
    display: block;
    height: 52px;
    width: 152px;
    background: #456fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 243px;
}
#inner .inner_wrap .logo a span{
    font-size: 34px;
    color: #ffffff;
    font-weight: bold;
    line-height: 52px;
    text-align: center;
}



/* vivo-box */
#inner .inner_wrap .vivo-box{
    width: 360px;
    height: 622px;
    background: #ffffff;
    position: absolute;
    top: 74px;
    right: 0;
}
.inner_wrap .vivo-box{
    padding:30px 30px 20px 30px;
}
.inner_wrap .vivo-box h1{
    width: 160px;
    height: 42px;
    margin: 0  auto;
}
.inner_wrap .vivo-box p{
    font-size: 19px;
    color: black;
    text-align: center;
    line-height: 60px;
}
.inner_wrap .vivo-box h3{
    text-align: right;
    font-size: 14px;
    color: #456fff;
    line-height: 32px;
    margin-bottom: 10px;
}



/*phone-code  */
.inner_wrap .vivo-box .phone-code {
    width: 360px;
    height: 46px;
    border: 1px solid #cccccc;
    line-height: 46px;
    text-align: center;
    margin-bottom: 15px;
}
.vivo-box .phone-code span{
    display:inline-block;
    height: 46px;
    float: left;
    padding-left: 12px;
    font-size: 16px;
    color: black;
    cursor: pointer;
}
.vivo-box .phone-code .icon-xia{
    float: left;
    font-size: 14px;
    padding-left: 30px;
    width: 14px;
}
.vivo-box .phone-code input{
    border: none;
    float: left;
    padding-left: 20px;
    font-size: 16px;
    height: 46px;
    list-style: 46px;
    letter-spacing: 1px!important;
    outline: none;
}


/*code-box*/
.vivo-box .code-box{
    width: 360px;
    height: 46px;
    border: 1px solid #cccccc;
}
.vivo-box .code-box input{
    border: none;
    height:46px;
    line-height: 48px;
    width: 226px;
    font-size: 16px;
    float: left;
    padding-left: 20px;
    letter-spacing: 1px!important;
    outline: none;
}
.vivo-box .code-box h6{
    display: inline-block;
    /* width: 1px; */
    height: 33px;
    font-size: 25px;
    color: #cccccc;
    line-height: 46px;
    padding-right: 8px;
    padding-left: 8px;
}
.vivo-box .code-box span{
    font-size: 15px;
    text-align: center;
    height: 46px;
    line-height: 46px;
    color:#456fff;
    cursor: pointer;
}



/* submit */
.vivo-box  .submit{
    text-align: right;
    display: block;
    height: 56px;
    line-height: 56px;
    margin-bottom: 5px;
}
.vivo-box  .submit input{
    border: 1px solid #cccccc;
    width: 16px;
    height: 16px;
    border: 1px solid #cccccc;
    background: #ffffff;
    outline: none;
}
.vivo-box  .submit span{
    font-size: 12px;
    color: black;
    padding-left: 5px;
}

/* login */
.vivo-box .login {
    width: 362px;
    height: 48px;
    background:#456fff;
    line-height: 48px;
    font-size: 17px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}




/* zhuce */
.vivo-box .zhuce{
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    width: 360px;
    border: 1px solid #456fff;
    color: #456fff;
    margin: 15px 0;
}
.vivo-box h6{
    font-size: 13px;
    color: black;
    z-index: 999;
    line-height:20px;
}
.vivo-box a {
    display: block;
    font-size: 14px;
    color: black;
    text-align: center;
    line-height: 14px;
    margin-top: 29px;
}
.vivo-box h5{
    font-size: 12px;
    line-height: 50px;
    text-align: center;
    margin-top: 15px;
}
.vivo-box h5 i{
    padding: 0 10px;
}
.vivo-box h5 span{
    display: inline-block;
    width: 130px;
    border:1px solid #cccccc;
}
.vivo-box .foot{
    text-align: center;
}
.vivo-box em{
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid #456fff;
    background: #456fff;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 22px;
}
.vivo-box em:nth-child(3){
    margin-right: 0;
}
.icon-xinxi{
    text-align: center;
    line-height: 26px;
}



/* footer */
#footer{
   height: 131px;
   padding-top: 91px;
}
#footer .footer-wrap{
    height: 131px;
    text-align: center;
}
#footer .footer-wrap h3{
    display: inline-block;
    font-size: 12px;
    padding-top: 46px;
    color: #666666;
    padding-left: 15px;
}
#footer .footer-wrap span{
    color: #666666;
    padding: 0  34px 0 14px;
}
#footer .footer-wrap p{
    line-height: 46px;
    font-size: 12px;
    color: #9d9d9d;
}
#footer .footer-wrap p a{
    color: #9d9d9d;
}
#footer .footer-wrap .icon-qq{
    font-size: 14px;
}
#footer .footer-wrap .icon-chuzuche{
    font-size: 15px;
}